//
// _card.scss
//

.card {
    box-shadow: $card-box-shadow;
    margin-bottom: $spacer;
    border: none !important;
    background-color: transparent;

    &.card-collapse {
        .card-header {
            padding: var(--#{$prefix}card-cap-padding-y) var(--#{$prefix}card-cap-padding-x);
            background-color: var(--#{$prefix}card-bg);
            border-radius: var(--#{$prefix}card-border-radius);
            border: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color) !important;
        }
    }
}

// Card Header
.card-header {
    border: var(--#{$prefix}card-border-width) solid transparent !important;
    display: flex;
    align-items: center;
    border-bottom: 0; 
    padding: 0 0 10px 0;
    transition: all .25s ease-in-out;

    @extend .gap-3;
    @extend .flex-wrap;
}

.card-body {
    border-radius: var(--#{$prefix}card-border-radius);
    border: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color);
    background-color: var(--#{$prefix}card-bg);

    // override when followed by footer
    &:has(+ .card-footer) {
        border-radius: var(--#{$prefix}card-border-radius) var(--#{$prefix}card-border-radius) 0 0;
    }

    &.card-bordered {
        border: none;
        border-left: 3px solid;
    }
}

.card-footer {
    border: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color);
    border-top: 0;
    padding: var(--#{$prefix}card-cap-padding-y) var(--#{$prefix}card-cap-padding-x);
    background-color: var(--#{$prefix}light-bg-subtle);
}

// Card Action
.card-action {
    display: flex;
    gap: 0.25rem;
    margin-left: auto;

    .card-action-item {
        font-size: 14px;
        height: 20px;
        width: 20px;
        line-height: 18px;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(var(--#{$prefix}black-rgb), 0.05);
        color: $gray-700;
        transition: all 0.3s ease-out;

        i {
            vertical-align: middle;
        }

        &:hover {
            background-color: rgba(var(--#{$prefix}primary-rgb), 0.2);
            color: var(--#{$prefix}primary);
        }
    }
}


// Card Overlay
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--#{$prefix}primary-rgb), 0.15);
    backdrop-filter: blur(2px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 0.3rem;
}

// Custom card height
.card-h-100 {
    height: calc(100% - #{$spacer});
}

.card-hovered {
    transition: transform .25s ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }
}

// Code Body (Custom Component)
.code-body {
    display: none;

    pre {
        max-height: 300px;
        scrollbar-width: thin;
        @extend .bg-light-subtle;
    }
}

// Card Stick Style
.card-top-sticky {
    @extend .position-sticky;
    top: calc(var(--#{$prefix}topbar-height) + $spacer);
}