<div class="sidenav-user text-center text-nowrap">
  <!-- <a href="pages-profile.html" class="sidenav-user-name text-center">
    <img src="assets/images/users/user-10.jpg" alt="user-image" class="rounded-circle d-block mb-2 avatar-img-size fs-60 mx-auto">
    <span class="fw-bold d-block">Robert Razer</span>
    <span class="fs-11 text-muted d-block" data-lang="user-role">Art Director</span>
  </a> -->

  <!-- <div class="sidenav-user-chart px-3 my-3">
    <app-chartjs [getOptions]="userchartOptions" style="max-height: 30px;"/>
  </div> -->

  <!-- <h4>{{ currency }}<span  [countUp]="260104.20" [options]="{decimalPlaces: 2,duration:0.7}">0</span></h4>
  <p class="text-muted fs-xxs mb-0">Your income from the last year <br> in sales product X.</p> -->
</div>
