<div class="container-fluid">

  <div class="row py-4">
    <div class="col-lg-12 text-center">
      <h3 class="fw-light fs-md text-uppercase">
        Welcome to <span class="fw-semibold">OFICINA</span> Theme
      </h3>

      <p class="text-muted fst-italic mb-0">
        Special <strong>Admin Theme</strong> for medium and large web applications with very clean and
        aesthetic style and feel.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-views-statistics/>
    </div>
  </div>

  <div class="row row-cols-xxl-4 row-cols-md-2 row-cols-1">

    <div class="col">
      <app-widget-card1/>
    </div>

    <div class="col">
      <app-widget-card2/>
    </div>

    <div class="col">
      <app-widget-card3/>
    </div>


    <div class="col">
      <app-today-income/>
    </div>

  </div>


  <div class="row mt-2">
    <div class="col-xxl-3 col-xl-6">
      <app-orders-and-sales/>
    </div>

    <div class="col-xxl-3 col-xl-6 order-xxl-last">
      <app-ecommerce-activity/>
    </div>

    <div class="col-xxl-6 col-xl-12">
      <app-transactions/>
    </div>
  </div>
</div>
